{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="m-12 mt-0">
        <section class="justify-center flex" id="section-profile">
            <div class="mx-6 min-w-[28rem] max-w-[28rem]" id="profile-img" {{react_component('images/ProfileImages', {userId: app.user.id, images: findUserImages(app.user.id)})}}></div>
            <div id="profile-field" class="w-1/2 mx-6">
                <div class="flex justify-between p-4 items-center bg-light-gray rounded-md m-4" {{ react_component('forms/EditableField', {'originalValue': app.user.lastname, "size": 1, input: "text", type:"lastname", id: app.user.id}) }}></div>
                <div class="flex justify-between p-4 items-center bg-light-gray rounded-md m-4" {{ react_component('forms/EditableField', {'originalValue': app.user.firstname, "size": 1, input: "text", type:"firstname", id: app.user.id}) }}></div>
                <div class="flex justify-between p-4 items-center bg-light-gray rounded-md m-4" {{ react_component('forms/EditableField', {'originalValue': app.user.birthdate ?? "Entrer une date de naissance", "size": 2, input: "date", id: app.user.id}) }}></div>
                <div class="flex justify-between p-4 items-center bg-light-gray rounded-md m-4" {{ react_component('forms/EditableField', {'originalValue': app.user.email, "size": 3, input: "email", id: app.user.id}) }}></div>
                <div class="flex justify-between p-4 items-center bg-light-gray rounded-md m-4" {{ react_component('forms/EditableField', {'originalValue': app.user.phonenumber ?? "Entrer un numéro de téléphone" , "size": 3, input: "phone", id: app.user.id}) }}></div>
                <button class='inline-block justify-center active:scale-95 hover:bg-blue-purple-hover transition font-ChunkFive text-white text-xl bg-blue-purple px-7 py-5 rounded-xl uppercase w-full my-2 p-4'>VOIR MON AGENDA</button>
                <button class='inline-block justify-center active:scale-95 hover:bg-blue-purple-hover transition font-ChunkFive text-white text-xl bg-blue-purple px-7 py-5 rounded-xl uppercase w-full my-2 p-4'>VOIR MES CONTRATS DE GARDE</button>
            </div>
        </section>

        <section id="section-description" class="flex justify-center flex-col my-12" {{react_component('profile/Description', {description: app.user.description, userId: app.user.id})}}></section>

        <section id="section-animals">
            {% for animal in getAnimalsUser() %}
            {% set difference = date("now"|date("m/d/Y")).diff(date(animal.birthdate)) %}
                <div id="animal-card" class="border border-black rounded-lg h-96 flex p-4 m-4">
                    <div class="mx-6 min-w-64 max-w-64 content-center" id="animal-img" {{react_component('images/ProfileImages', {animalId: animal.id, images: findAnimalImages(animal.id)})}}></div>
                    <div id="animal-content" class="w-full">
                        <h2 class="font-ChunkFive text-4xl">{{animal.name|capitalize}}</h2>
                        <h2 class="font-ChunkFive text-4xl">{{difference.y}} ans</h2>
                        <br/>
                        <p class="text-lg">{{animal.description}}</p>
                    </div>
                    <div id="animal-setting" class="min-w-20 max-w-20 flex flex-col justify-end ml-4" {{react_component('profile/UpdateAnimal', {animalId: animal.id})}}></div>
                </div>
            {% endfor %}
            <div class="flex justify-end mt-4" id="add-animal" {{react_component('profile/AddAnimal')}}></div>
        </section>
    </div>
{% endblock %}
