{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% set profilUser = app.user is not null ? app.user.id == professional.user.id : null %}
    <div class="m-12 mt-0 flex justify-center">
        <div id="left-body" class="flex flex-col items-center mr-16 max-w-96">
            <section id="sec-avatar" class="p-4">
                <div class="w-96 aspect-square overflow-hidden rounded-tl-[100px] rounded-br-[100px]" {{react_component('images/SquareImage', {srcPath: findUserImages(professional.user.id) ? 'img/users/user-' ~ professional.user.id ~ '-1.jpg' : null, main: true, userId: professional.user.id, number: 1, profilUser: profilUser})}}>
                </div>
            </section>
            <section id="sec-agenda-appointment" class="w-full mt-12 sticky top-28">
                <h1 class="text-4xl font-ChunkFive mr-4 capitalize">Agenda</h1>
                <div {{react_component('calendar/Professional', {id: professional.id, userId: app.user ? (app.user.professionals ? app.user.professionals.id : null) : null, appointment: false})}}></div>
                <div class="flex items-center mt-2">
                    <div class="h-4 w-4 rounded bg-[#c1e8c8] mr-2"></div>
                    <p>Disponible</p>
                    <div class="h-4 w-4 rounded mr-2 ml-4" id="unavailable"></div>
                    <p>Indisponible</p>
                </div>
                {% if app.user is null %}
                    <br>
                    <button onclick="getElementById('link-login').click()" class="inline-block justify-center active:scale-95 hover:bg-blue-purple-hover transition font-ChunkFive text-white text-xl bg-blue-purple px-7 py-5 rounded-xl uppercase">Prendre rendez-vous</button>
                {% elseif app.user.professionals.id is not defined or app.user.professionals.id != professional.id %}
                    <br>
                    <div {{react_component('profile/Appointment', {id: app.user ? app.user.id : null, professional: professional|serialize})}}></div>
                {% endif %}
            </section>
        </div>
        <div id="right-body" class="flex flex-col max-w-[600px]">
            <section id="sec-desc">
                <div class="flex flex-row">
                    <h1 class="text-4xl font-ChunkFive mr-4 capitalize">{{professional.user.lastName}}</h1> 
                    <h1 class="text-4xl font-ChunkFive capitalize">{{professional.user.firstName}}</h1>
                </div>
                <br>
                {% if professional.user.birthDate is not null %}
                    {% set birthdate = professional.user.birthDate|date('d-m-Y') %}
                    {% set now = 'now'|date('d-m-Y') %}
                    {% set difference = date(now).diff(date(birthdate))%}
                    <h1 class="text-4xl font-ChunkFive">{{difference.y}} ans</h1>
                {% endif %}
                <br>
                {% if app.user ? app.user.id == professional.user.id : false %}
                    <div {{react_component("profile/ProfessionalDescription", {description: professional.description, professionalId: professional.id})}}></div>
                {% else %}
                    <p class="min-w-96 text-2xl">{{professional.description}}</p>
                {% endif %}
                
            </section>
            <br>
            <section id="sec-criteria" class="border-t border-b border-black p-4">
                <div {{react_component('profile/SectionCriteria', {userId: app.user ? app.user.id : null, professional: professional|serialize})}}></div>
            </section>
            <br>
            <section id="sec-allowed-categories-animals" class="border-t border-b border-black p-4">
                <div {{react_component('profile/SectionAllowedCategoriesAnimals', {userId: app.user ? app.user.id : null, professional: professional|serialize})}}></div>
            </section>
            <section id="sec-rating">
                <div class="flex flex-col justify-center" {{react_component('profile/Reviews', {idProfessional: professional.id})}}></div>
            </section>
        </div>
    </div>
{% endblock %}
