{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="px-28 h-[calc(100svh-96px)] bg-hero-img bg-no-repeat bg-cover">
        <div class="w-1/2 h-full flex flex-col justify-center items-start">
            <div {{ react_component('headers/FirstHeader', {'content': 'Confiez vos animaux en toute confiance', 'color': 'white', 'fontSize': ' text-7xl'}) }}></div>
            <p class="text-white pb-12" {{ react_component('paragraph/Paragraph', {'content': "Confiez-nous vos compagnons à quatre pattes et partez l'esprit tranquille !
                Bienvenue
                chez Tatanimo notre
                site de garde d'animaux, où le bonheur et le bien-être de vos précieux compagnons sont notre priorité
                absolue.", 'color': 'white'}) }}></p>
            <div {{ react_component('button/Button', {'content': 'Je veux faire
            garder mon animal'}) }}></div>
        </div>
    </section>
    <section class="px-28 py-16 flex gap-28	">
        <div class="w-1/2">
            <img src="{{ asset('img/background/dog-on-beach.png') }}"
                 class="object-cover w-full"
                 alt="dog on a summer beach">
        </div>
        <div class="w-1/2 flex flex-col items-center justify-center">
            <div {{ react_component('headers/FirstHeader', {'content': 'Comment ça marche ?', 'color': 'black', 'fontSize': 'text-6xl'}) }}></div>
            <div {{ react_component('paragraph/Paragraph', {'content': 'Vous cherchez à faire garder votre animal pendant vos vacances ? Grâce à Tatanimo, trouvez une garde avec
                une personne de confiance, près de chez vous.
                Explorez les profils détaillés, planifiez les gardes, échangez en toute sécurité, et assurez le
                bien-être de vos compagnons à quatre pattes. Rejoignez-nous pour créer des liens durables entre amoureux
                des animaux et offrir à nos compagnons une attention digne de leur amour inconditionnel.', 'color': 'black'}) }}></div>
        </div>
    </section>
    <section class="px-28 py-16 flex flex-col items-center">
        <div {{ react_component('headers/FirstHeader', {'content': 'Je souhaite garder des animaux', 'color': 'black', 'fontSize': 'text-6xl', 'className': 'pb-10'}) }}></div>
        <div {{ react_component('paragraph/Paragraph', {'content': "En tant que petsitter, vous aurez l'opportunité de prendre soin des animaux de compagnie de personnes occupées ou en déplacement. Que ce soit pour des visites régulières à domicile, des promenades énergisantes ou des séjours de garde prolongés, vous serez là pour assurer le bien-être et le bonheur des animaux.", 'color': 'black', 'fontSize': 'text-6xl'}) }}></div>
        <div {{ react_component('button/Button', {'content': 'JE SOUHAITE DEVENIR PETSITTER', 'className': 'inline-block mt-4'}) }}></div>
    </section>
    <section class="px-28 pt-32 flex flex-col items-center bg-cat-legs-bg h-[850px]">
        <div class="pb-12" {{ react_component('headers/FirstHeader', {'content': 'Lorem Ipsum', 'color': 'black', 'fontSize': 'text-6xl'}) }}></div>
        <img src="{{ asset('videos/temp-square.svg') }}"
             alt="videos"
             class="pb-16">
        <div class="w-1/4 pb-16" {{ react_component('button/Button', {'content': 'Nous découvrir', 'className': 'inline-block mt-4 w-full flex items-center justify-center'}) }}></div>
    </section>
    <section class="px-28 py-16 pt-[600px] flex flex-col items-center">
        <div class="pb-12" {{ react_component('headers/FirstHeader', {'content': 'Vos avis', 'color': 'black', 'fontSize': 'text-6xl'}) }}></div>
        <div class="flex gap-3">
            <div {{ react_component('review/ReviewCard', {"img": asset('img/background/dog-with-toy.png'), "intStar": 5, "name": "Garde de Rockett"}) }}></div>
            <div {{ react_component('review/ReviewCard', {"img": asset('img/background/dog-with-toy.png'), "intStar": 5, "name": "Garde de Rockett"}) }}></div>
            <div {{ react_component('review/ReviewCard', {"img": asset('img/background/dog-with-toy.png'), "intStar": 5, "name": "Garde de Rockett"}) }}></div>
            <div {{ react_component('review/ReviewCard', {"img": asset('img/background/dog-with-toy.png'), "intStar": 5, "name": "Garde de Rockett"}) }}></div>
            <div {{ react_component('review/ReviewCard', {"img": asset('img/background/dog-with-toy.png'), "intStar": 5, "name": "Garde de Rockett"}) }}></div>
        </div>
    </section>
{% endblock %}
