<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('svg/logo.svg')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Alerte #}
        <header {{ react_component('navigation/NavigationBar') }}></header>
        <div class="fixed top-0 left-0 z-50">
            {% for type, flash in app.flashes %}
                <div {{ react_component('alerts/Alerts', {'type': type, 'flash': flash }) }}></div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>

