{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        footer {
            display: none !important;
        }

        .main-container {
            width: unset;
            height: unset;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }

        .check-container .check-background {
            width: 36px;
            height: 36px;
            background: linear-gradient(to bottom right, #5de593, #41d67c);
            box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
            transform: scale(0.84);
            border-radius: 50%;
            animation: animateContainer 0.75s ease-out forwards 0.75s;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
        }

        .check-container .check-background svg {
            width: 65%;
            transform: translateY(0.15rem);
            stroke-dasharray: 80;
            stroke-dashoffset: 80;
            animation: animateCheck 0.35s forwards 1.25s ease-out;
        }

        .check-container .check-shadow {
            bottom: calc(-15% - 5px);
            left: 0;
            border-radius: 50%;
            background: radial-gradient(closest-side, #49da83, transparent);
            animation: animateShadow 0.75s ease-out forwards 0.75s;
        }

        @keyframes animateContainer {
            0% {
                opacity: 0;
                transform: scale(0);
                box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
            }
            25% {
                opacity: 1;
                transform: scale(0.9);
                box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
            }
            43.75% {
                transform: scale(1.15);
                box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
            }
            62.5% {
                transform: scale(1);
                box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
            }
            81.25% {
                box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
            }
            100% {
                opacity: 1;
                box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
            }
        }

        @keyframes animateCheck {
            from {
                stroke-dashoffset: 80;
            }
            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes animateShadow {
            0% {
                opacity: 0;
                width: 100%;
                height: 15%;
            }
            25% {
                opacity: 0.25;
            }
            43.75% {
                width: 40%;
                height: 7%;
                opacity: 0.35;
            }
            100% {
                width: 85%;
                height: 15%;
                opacity: 0.25;
            }
        }
    </style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"
            defer></script>
{% endblock %}
{% block body %}
    <section id="section-contact-info"
             class="py-6 px-12 bg-blue-dark-purple">
        <div {{ react_component('chat/ChatTopBar', {contactSerialize: contact|serialize}) }}></div>
    </section>
    <section id="section-chat"
             class="bg-beige p-10 h-[calc(100vh-96px-112px-128px)] overflow-y-auto">
        <div {{ react_component('chat/LoadingChatRoom', {user: app.user.id, contact: contact.id, room: uuid, urlMercure: mercure('messages/' ~ uuid)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw, jwtToken: generateJWT()|json_encode|raw }) }}></div>
    </section>
    <section id="section-input-chat"
             class="bg-blue-dark-purple p-8 flex items-center justify-center">
        <div class="flex items-center justify-center gap-6 w-full" {{ react_component('chat/InputChat', {room: uuid, user: app.user.id}) }}></div>
    </section>
{% endblock %}
