{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <section id="section-contact-info" class="py-12 px-24 bg-blue-dark-purple">
        <div class="flex justify-between">
            <h1 class="font-ChunkFive text-dark-blue text-5xl mx-4 min-w-fit">{{contact.lastname|upper}} {{contact.firstname|capitalize }}</h1>
            <p class="text-xl mx-4 w-[40rem] font-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum iaculis lacus a dignissim. Donec convallis iaculis neque</p>
        </div>
        <h1 class="font-ChunkFive text-dark-blue text-5xl my-4 mx-4">{{contact.cities.name|capitalize}}</h1>
    </section>
    <section id="section-chat" class="bg-beige p-10">
        <div {{react_component('chat/LoadingChatRoom', {user: app.user.id, contact: contact.id, room: uuid})}}></div>
    </section>
    <section id="section-input-chat" class="bg-blue-dark-purple p-10 flex justify-between">
        <button>
            <img src="{{asset('img/icons/paper-clip.svg')}}" alt="" srcset="">
        </button>
        <input type="text" class="w-3/4 rounded-full opacity-70 border-0 pl-10">
        <button>
            <img src="{{asset('img/icons/send-fill.svg')}}" alt="" srcset="">
        </button>
    </section>
{% endblock %}
